
<%= will_paginate @contracts %>
<%= @contractsAllCount %> contratos encontrados

<table>
  <tr>
    <th>Título</th>
	<!--
    <th>Description</th>
	-->
    <th>Tipo contrato</th>
    <th>Proc.</th>
	<!--
    <th>Budget announced</th>
	-->
    <th>EUR</th>
    <th>Contrante</th>
    <th>Empresa</th>
    <th>Organismo</th>
	<!--
    <th>Signed by</th>
	-->
    <th>Fecha res.</th>
	<th>Original doc</th>
	<!--
    <th></th>
    <th></th>
    <th></th>
	-->
  </tr>

<% @contracts.each do |contract| %>
  
 <tr class="<%=cycle('odd','even') %>">
    <td><%= link_to contract.title, contract %></td>
	<!--
    <td><%= contract.description %></td>
	-->
    <td><%= contract.contract_type %></td>
    <td>
		<!-- para cambiar por link_to-->
		<a href="/Contracts/BusquedaPorProcedimiento?procedimiento=<%= contract.procedure %>">
			<%= contract.procedure %>
		</a>
	</td>
	<!--
    <td><%= contract.budget_announced %></td>
	-->
    <td><%= contract.budget_adjudicated %></td>
	<!--
    <td><%= contract.idweb %></td>
	-->
	<td>
		<a href="/Contracts/BusquedaPorContratante?contratante=<%= contract.signed_by %>">
			<%= contract.signed_by %>
		</a>
	</td>
    <td>
		<!-- para cambiar por link_to-->
		<a href="/Contracts/BusquedaPorEmpresa?empresa=<%= contract.company_name %>">
			<%= contract.company_name %>
		</a>
	</td>
    <td>
		<a href="/Contracts/BusquedaPorOrganismo?organismo=<%= contract.department %>">
			<%= contract.department %>
		</a>
    </td>
	<!--
    <td><%= contract.signed_by %></td>
	-->
    <td><%= contract.resolution_date %></td>
	<td>
		<a href="https://servicios.aragon.es/pcon/pcon-public/controlAdjudicacionPublico?accion=ACCION_SELECCIONAR_ADJUDICACION_PUBLICO&iddatoadjudicacion=<%=contract.idweb%>">original</a>
	</td>
	<!--
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
	-->
  </tr>
<% end %>
</table>

<br />

<!--
<%= link_to 'New Contract', new_contract_path %>
-->
