<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Título</th>
	<!--
    <th>Description</th>
	-->
    <th>Tipo contrato</th>
    <th>Proc.</th>
	<!--
    <th>Budget announced</th>
	-->
    <th>EUR</th>
	<!--
    <th>Id</th>
	-->
    <th>Empresa</th>
    <th>Organismo</th>
	<!--
    <th>Signed by</th>
	-->
    <th>Fecha res.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.title %></td>
	<!--
    <td><%= contract.description %></td>
	-->
    <td><%= contract.contract_type %></td>
    <td><%= contract.procedure %></td>
	<!--
    <td><%= contract.budget_announced %></td>
	-->
    <td><%= contract.budget_adjudicated %></td>
	<!--
    <td><%= contract.idweb %></td>
	-->
    <td><%= contract.company_name %></td>
    <td><%= contract.department %></td>
	<!--
    <td><%= contract.signed_by %></td>
	-->
    <td><%= contract.resolution_date %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
